.project {
  padding: 0.1px 0 0.1px 0;
  max-width: 1140px;
  margin: 0 70px;
  color: #fff;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
  font-weight: 400;
}

.project__header {
  margin: 110px 0 23px 0;
  font-size: 22px;
  line-height: 27px;
}

.project__bottom {
  border-bottom: 1px solid #dadada;
  margin-bottom: 70px;
}

.project__text-block {
  justify-content: space-between;
  display: flex;
}

.project__text-block-set {
  max-width: 550px;
}

.project__text-header {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 26px 0;
}

.project__text-paragrph {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0 40px 110px 0;
}

.project__tracker-block {
  display: flex;
}

.project__tracker-left {
  width: 228px;
  margin-bottom: 14px;
  background: #3ddc84;
  color: #000;
}

.project__tracker-right {
  width: 912px;
  margin-bottom: 14px;
  background: #303030;
  color: #fff;
}

.project__tracker-paragrph {
  width: 200px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: 9px auto;
}

.project__tracker-text-left {
  margin-bottom: 110px;
  width: 228px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #8b8b8b;
}

.project__tracker-text-right {
  width: 912px;
  margin-bottom: 110px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #8b8b8b;
}

@media screen and (max-width: 920px) {
  .project__text-header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 26px 0;
  }
}

@media screen and (max-width: 768px) {
  .project {
    max-width: 668px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .project__header {
    margin: 90px 0 23px 0;
  }
}

@media screen and (max-width: 768px) {
  .project__text-block-set {
    max-width: 319px;
  }
}

@media screen and (max-width: 768px) {
  .project__text-header {
    margin: 0 0 22px 0;
    max-width: 319px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 768px) {
  .project__text-paragrph {
    max-width: 319px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 93px 0;
  }
}

@media screen and (max-width: 768px) {
  .project__tracker-left {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .project__tracker-right {
    width: 528px;
  }
}

@media screen and (max-width: 768px) {
  .project__tracker-paragrph {
    width: 120px;
    margin: 9px auto;
  }
}

@media screen and (max-width: 768px) {
  .project__tracker-text-left {
    margin-bottom: 90px;
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .project__tracker-text-right {
    width: 528px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 740px) {
  .project__text-block-set {
    margin-right: 20px;
  }
}

@media screen and (max-width: 740px) {
  .project__text-block-set:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 426px) {
  .project {
    max-width: 325px;
  }
}

@media screen and (max-width: 426px) {
  .project__text-block {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .project__tracker-right {
    width: 160px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 426px) {
  .project__tracker-left {
    width: 120px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 426px) {
  .project__tracker-text-left {
    margin-bottom: 70px;
    width: 120px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 426px) {
  .project__tracker-text-right {
    width: 160px;
    margin-bottom: 70px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 426px) {
  .project {
    max-width: 325px;
  }
}

@media screen and (max-width: 320px) {
  .project {
    max-width: 284px;
    margin: 0 14px;
  }
}

@media screen and (max-width: 320px) {
  .project__header {
    margin: 70px 0 28px 0;
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 320px) {
  .project__text-block {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .project__text-block-set {
    max-width: 284px;
  }
}

@media screen and (max-width: 320px) {
  .project__text-header {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .project__text-paragrph {
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto 56px auto;
  }
}
@media screen and (max-width: 320px) {
  .project__tracker-block {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .project__tracker-left {
    width: 100px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .project__tracker-right {
    width: 184px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .project__tracker-paragrph {
    width: 80px;
    font-size: 11px;
    line-height: 13px;
    margin: 11px auto;
  }
}

@media screen and (max-width: 320px) {
  .project__tracker-text-left {
    margin-bottom: 70px;
    width: 100px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 320px) {
  .project__tracker-text-right {
    width: 184px;
    margin-bottom: 70px;
    font-size: 11px;
    line-height: 13px;
  }
}
