.saved-movies-search-form {
  padding: 0.1px 0 0.1px 0;
  max-width: 1280px;
  margin: 0 70px;
}

.saved-movies-search-form__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 1px solid #424242;
  margin: 70px 0 32px 0;
}

.saved-movies-search-form__input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #8b8b8b;
  background-color: #202020;
  border: none;
  border-radius: 0;
}

.saved-movies-search-form__input:focus {
  border-bottom: 1px solid #4285f4;
  outline: 0;
  color: #fff;
}
.saved-movies-search-form__input:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 1px solid #424242;
}

.saved-movies-search-form__error {
  display: block;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
}
.saved-movies-search-form__button {
  width: 59px;
  height: 34px;
  border-radius: 48px;
  border: none;
  background: #4285f4;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.saved-movies-search-form__button:hover {
  opacity: 0.8;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.saved-movies-search-form__checkbox-wrap {
  display: flex;
}

.saved-movies-search-form__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* выключенный */
.saved-movies-search-form__visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border: none;
  background-image: url(../../images/smalltumboff.svg);
  cursor: pointer;
}

/* выбранный :checked */
.saved-movies-search-form__visible-checkbox_checked {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border: none;
  background-image: url(../../images/smalltumb.svg);
  cursor: pointer;
}

/* в фокусе */
.saved-movies-search-form__visible-checkbox:focus {
  box-shadow: 0 0 5px #fff6c5;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border: none;
  cursor: pointer;
}

.saved-movies-search-form__visible-checkbox:hover {
  opacity: 0.8;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.saved-movies-search-form__visible-checkbox_checked:focus {
  box-shadow: 0 0 5px #fff6c5;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border: none;
  cursor: pointer;
}

.saved-movies-search-form__visible-checkbox_checked:hover {
  opacity: 0.8;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.saved-movies-search-form__checkbox-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 1px 0 0 0;
}

@media screen and (max-width: 768px) {
  .saved-movies-search-form {
    max-width: 768px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .saved-movies-search-form__checkbox-wrap {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 768px) {
  .saved-movies-search-form__checkbox-text {
    margin: 1px 16px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .saved-movies-search-form__visible-checkbox {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .saved-movies-search-form__visible-checkbox_checked {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .saved-movies-search-form__input {
    max-width: 100px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-search-form {
    max-width: 320px;
    margin: 0 14px;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-search-form__checkbox-text {
    margin: 1px 13px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-search-form__checkbox-wrap {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-search-form__checkbox-wrap {
    align-content: center;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-search-form__checkbox-wrap {
    align-content: center;
  }
}
